:root{
    --font-family: 'Galindo', cursive;
    --font-family: 'Geologica', sans-serif;
    --background-color: #D9D9D9;
    --container-color: #279925;
    --accent-font-color: #5DD162;
    --body-font-color: #BBD0DB;
    --input-color:#A49C9C;

}

header {
    width: 100%;
    background-color: var(--body-font-color);
    display: flex;
    margin: 0px;
    padding: 0px;

}



/* Estilos para los campos de entrada */
.input-field, .input-fieldEmail, .input-fieldPassword {
    display: block;
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para los botones */
.btn {
    display: block;
    padding: 10px 20px;
    background-color: #279925;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px; /* Añadir margen inferior para separar los botones */
    align-items: center;
}

.btn1{
    display: inline-block;
    background-color: #BBD0DB;
    font-family:'Galindo';
    color: #000000;
    font-weight: bolder;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 50px;
}

/* Estilos adicionales para el contenedor de la sección (opcional) */
section {
    width:100%;
    margin: 0px;
    padding: 0px;
}


.img {
    height: 150px;
    /* Otras propiedades de tamaño, altura u otras que desees aplicar al elemento */
}


.img{
    opacity: 0.5; /* Opacidad del 50% para la imagen */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1{
    display: flex;
    color: #fff;
    font-size:xx-large;
    justify-content: space-around;
}
.img-logo, .user1, .user2, .user3, .like, .comment{
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 10px;
    display: flex;
}

.logo {
    width: 150px;
    cursor: pointer;
    padding: 10px;
    display: flex;
}

.contenedor{
    width:80%;
    color: #fff;
}



.muro{
    background-color: #D9D9D9;
}
.postDefect, .post1, .post2, .contenedoriconos{
    display:flex;
    font-family:'Galindo';
    gap: 4%;
}
.postInput{
    display:flex;
    font-family:'Galindo';
    margin: 2%;
}
.inputFeed{

    background-color: var(--input-color);
    font-family:'Galindo';
    width: 80%;
    padding: 5px;
    border-radius: 4px;
    border-color: var(--input-color);
    
}

.inputFeed::placeholder{
    color:#fff;
    font-size:90%;
}

.idpost1,.idpost2{
    background-color: var(--background-color);
    margin:2%;
    font-size: small;
}

/*mobile (iphone pro 12)*/
@media (max-width:820px){
.exp{
    width:40%
}

}